/* *{
    padding: 0;
    margin: 0;
}

html, body{
    font-family: 'Comfortaa', cursive;
}

h1, .study{
    text-align: center;
    justify-content: center;
}

.txt1{
    font-size: 12px;
}

.study-1{
    text-decoration: none;
    font-size: 32px;
}

.clgName{
    font-size: 28px;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/* ------------------------------ Custom Scroll Bar ------------------------------ */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* ------------------------------ Linear-Gradient ------------------------------ */

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: linear-gradient(135deg, #f57308, #fff, rgb(11, 242, 7));
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #1a6ad2, #fff, rgb(245, 5, 53));
}

/* --x--------------------------- Linear-Gradient ---------------------------x-- */

/* --x--------------------------- Custom Scroll Bar ---------------------------x-- */

/* ------------------------------ Simillar ------------------------------ */

section{
    padding: 100px 0;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.study, .project, .skills, .study, .contact, footer{
    font-family: 'Poppins', sans-serif;
}

.study .study-content, .project .project-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #1e3551;
    padding: 0 5px;
    transform: translateX(-50%);
}

/* --x--------------------------- Simillar ---------------------------x-- */

/* ------------------------------ Navbar ------------------------------ */

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: #1e3551;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

/* ------------------------------ Nav Logo Span Linear-Gradient ------------------------------  */
.navbar .logo a span{
    background: linear-gradient(135deg, #041d3d, #fff, crimson);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #1e3551;
}

.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* --x--------------------------- Navbar ---------------------------x-- */

/* ------------------------------ Menu Btn ------------------------------ */

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #1e3551;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* --x--------------------------- Menu Btn ---------------------------x-- */

/* ------------------------------ Home ------------------------------ */

.home{
    display: flex;
    background: url("https://source.unsplash.com/720x600/?dark,laptop") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
  width: 100%;
  display: flex;
}

.home .max-width .row{
  margin-right: 0;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

/* Linear Gradient */
.home .home-content .text-3 span{
    color: #1e3551;
    background: linear-gradient(135deg, #041d3d, #fff, crimson);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.home .home-content a{
    display: inline-block;
    background: #1e3551;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #1e3551;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: #1e3551;
    background: none;
    animation: pulsate 1s ease-in-out;
}

/* --x--------------------------- Home ---------------------------x-- */

/* ------------------------------ Study ------------------------------ */

.study{
    background: radial-gradient(#e1efff, white);
}
.study .title::after{
    content: "—Where I Study—";
}

.study .study-content .left{
    width: 45%;
}

.study .study-content .left img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.study .study-content .right{
    width: 55%;
}

.study .study-content .right .text{
    background: linear-gradient(135deg, #041d3d, rgb(220, 70, 20), #041d3d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.year{
    font-size: 24px;
    font-family: "Comfortaa", cursive;
}

.study .study-content .right p{
    text-align: justify;
}

.study .study-content .right a{
    display: inline-block;
    background: #1e3551;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #1e3551;
    transition: all 0.3s ease;
}

.study .study-content .right a:hover{
    color: #1e3551;
    background: none;
    animation: pulsate 1s ease-in-out;
}

/* --x--------------------------- Study ---------------------------x-- */

/* ------------------------------ Footer ------------------------------ */

footer{
    background: #111;
    padding: 6px 16px;
    color: #888c8d;
    text-align: center;
}

footer span a{
    color: #1e3551;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}

/* --x--------------------------- Footer ---------------------------x-- */

/* ------------------------------ Media Query ------------------------------ */

@keyframes pulsate{
    0%{
        box-shadow: 0 0 25px #888e8d, 0 0 50px #1e3551;
    }
}

/* ------------------------------ Media Query 1104px ------------------------------ */

@media (max-width: 1104px) {
    .study .study-content .left img, .project .project-content .left img{
        height: 350px;
        width: 350px;
    }
    section .title::after{
        bottom: -8px;
        font-size: 16px;
    }
}

/* --x--------------------------- Media Query 1104px ---------------------------x-- */

/* ------------------------------ Media Query 991px ------------------------------ */

@media (max-width: 991px) {
    .social-menu ul li a{
        left: 114px;
    }
}

/* --x--------------------------- Media Query 991px ---------------------------x-- */

/* ------------------------------ Media Query 947px ------------------------------ */

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .study .study-content .column, .project .project-content .column{
        width: 100%;
    }
    .study .study-content .left, .project .project-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .study .study-content .right, .project .project-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

/* --x--------------------------- Media Query 947px ---------------------------x-- */

/* ------------------------------ Media Query 690px ------------------------------ */

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
}

/* --x--------------------------- Media Query 690px ---------------------------x-- */

/* ------------------------------ Media Query 500px ------------------------------ */

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .study .study-content .right .text, .project .project-content .right .text{
        font-size: 19px;
    }

    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

/* ------------------------------ Media Query 500px ------------------------------ */

/* --x--------------------------- Media Query ---------------------------x-- */
